.container {
    @include mx-auto;
    max-width: $container-mob;
    padding: 0 30px;

    @media screen and (min-width: ($container-mob + 60px)) {
        padding: 0;
    }
}

.dash {
    font-size: 0.813rem;
    line-height: 2;
    list-style: '-';
    font-weight: 200;
    letter-spacing: 0.2px;
}

.span {
    &__caption {
        width: 100%;
        display: block;
        font-size: 0.813rem;
        line-height: 1.4;
        font-weight: 200;
        letter-spacing: 0.2px;
    }

    &__price {
        color: #fff;
        background-color: $main-green;
        font-weight: 500;
        padding: 0 5px;
        font-size: 0.875rem;
    }

    &__last {
        line-height: 2;
    }
}