.intro-slider {
    .wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        >.swiper {
            width: 40vw;
            height: 40vw;
            margin-bottom: 2%;
        }
    }
}