.intro-slider {
    .wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        >.swiper {
            margin: 0;
            width: 40vw;
            max-width: 260px;
            height: 40vw;
            max-height: 260px;
            margin-bottom: 5px;

            &:nth-of-type(1) {
                margin-right: 5px;
            }

            &:nth-of-type(3) {
                margin-right: 5px;
            }
            &:nth-of-type(5) {
                margin-right: 5px;
            }
        }
    }

    @media screen and (min-width: $tablet) {
        .wrapper {
            >.swiper {
                margin-bottom: 10px;
    
                &:nth-of-type(1) {
                    margin-right: 10px;
                }
    
                &:nth-of-type(3) {
                    margin-right: 10px;
                }
                &:nth-of-type(5) {
                    margin-right: 10px;
                }
            }
        }
    }

    @media screen and (min-width: $pc) {
        .wrapper {
            gap: 10px;
            
            >.swiper {
                margin-bottom: 0;
                max-width: 293.3px;
                max-height: 293.3px;
    
                &:nth-of-type(1) {
                    margin-right: 0;
                }
    
                &:nth-of-type(3) {
                    margin-right: 0;
                }
                &:nth-of-type(5) {
                    margin-right: 0;
                }
            }
        }
    }
}