{% extends "index.twig" %}
{% block head %}{% endblock %}

{% block content %}
<section class="about">
    <div class="container">
        <div class="about__photo">
            <figure>
                <img src="{{asset('imgs/barborka.webp')}}" alt="Ing. arch. Barbora Kabeláčová - Archiba">
            </figure>
        </div>
        <div class="about__content">
            <h2>Ing. arch.<br>
                Barbora Kabeláčová</h2>
            <div>
                <div>
                    <p>
                        Archiba se rodila v průběhu několika let v popracovních večerech ve formě studií pro mé kamarády a známé. 
                        Přibývající zájem o nové projekty, pozitivní podpora mého okolí a nasáté zkušenosti z praxe byly impulsem pro vznik Archiby jako takové.
                        <br>
                        <br>
                        Ze všech zadání mě nejvíce naplňují rekonstrukce, interiéry a změny dispozic. 
                        Nejlepší pocit přichází v průběhu realizace, když se prostory proměňují k lepšímu. Kochání se nad změnami a spokojený klient je ta nejlepší odměna.  
                        Obecně u mě platí - čím menší prostor tím větší výzva ! 
                        <br>
                        <br>
                        V současné době působím v Praze a v Turnově, jiná lokalita není překážkou, ani interiér ještě nepostaveného domu !
                    </p>
                </div>
                <div class="education">
                    <div>
                        <div>
                            <span class="span__caption">/ VZDĚLÁNÍ /</span>
                            <ul class="dash">
                                <li>Gymnázium Turnov</li>
                                <li>Fakulta architektury, ČVUT v Praze</li>
                            </ul>
                        </div>
                        <div>
                            <span class="span__caption">/ PRACOVNÍ ZKUŠENOSTI /</span>
                            <ul class="dash">
                                <li>Top Design s.r.o. / 2016 - 2018</li>
                                <li>monom works s.r.o. / 2018 - 2022</li>
                                <li>Archiba / 2022*</li>
                            </ul>
                        </div>
                    </div>
                    <figure>
                        <img src="{{asset('imgs/barborka.webp')}}" alt="Ing. arch. Barbora Kabeláčová - Archiba">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}