{% extends "index.twig" %}
{% block head %}{% endblock %}
{% block content %}
<section class="intro-slider">
    <div class="container">
        <div class="wrapper">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <figure class="swiper-slide">
                        <img src="{{ asset('imgs/a1.webp') }}" alt="">
                    </figure>
                    <figure class="swiper-slide">
                        <img src="{{ asset('imgs/a2.webp') }}" alt="">
                    </figure>
                </div>
            </div>
            <div class="swiper">
                <div class="swiper-wrapper">
                    <figure class="swiper-slide">
                        <img src="{{ asset('imgs/a1.webp') }}" alt="">
                    </figure>
                    <figure class="swiper-slide">
                        <img src="{{ asset('imgs/a2.webp') }}" alt="">
                    </figure>
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock %}