{% extends "index.twig" %}
{% block head %}{% endblock %}

{% block content %}
<section class="service">
    <div class="container">
        <div class="service__dispozice">
            <h2>Návrh dispozice</h2>
            <span class="span__caption first">/&nbsp;2D KONCEPČNÍ ŘEŠENÍ&nbsp;/</span>
            <span class="span__caption">/&nbsp;VHODNÉ PRO REKONSTRUKCI BYTŮ A DOMŮ&nbsp;/</span>

            <ul class="dash">
                <li>upřesnění zadání a představ klienta</li>
                <li>zaměření prostoru / výkres současného stavu</li>
                <li>varianty dispozičního řešení s umístěním zařizovacích předmětů</li>
                <li>reference s řešením některých částí interiéru</li>
                <li>1-2 průběžné konzultace</li>
                <li>možnosti konzultací online</li>
                <li>objekt mimo Prahu a Turnov 6 Kč/km</li>
                <li>cena stanovena dle velikosti bytu a variability místností (např. sazba za m&sup2 pro víceúčelovou garsoniéru bude
                    vyšší, než pro jednoúčelovou ložnici)</li>
            </ul>
            
            <span class="span__caption span__last">
                Potřebovali byste v bytě o místnost navíc, nebo vytvořit kompletně novou dispozici, která bude přihlížet k potřebám všech obyvatel domácnosti? 
                Návrh pro ty, kterým nevyhovuje stávající půdorysné rozložení jejich nemovitosti jakéhokoliv měřítka - od bytové jednotky po rozsáhlý objekt. 
            </span>

            <span class="span__price">300 - 500 Kč / m&sup2</span>
        </div>
        <div class="service__interier">
            <h2>Návrh interiéru</h2>
            <span class="span__caption">/&nbsp;STUDIE INTERIÉRU&nbsp;/</span>

            <ul class="dash">
                <li>kompletní návrh interiéru</li>
                <li>3D vizualizace</li>
                <li>moodboard (materiálové a barevné řešení, reference...)</li>
                <li>specifikace povrchů stěn a podlahových krytin</li>
                <li>varianty umístění zařizovacích předmětů</li>
                <li>seznam doporučených zařizovacích předmětů a svítidel</li>
                <li>1-2 průběžné konzultace v ceně</li>
                <li>možnost konzultací online</li>
                <li>objekt mimo Prahu a Turnov 6 Kč/km</li>
                <li>cena stanovena dle velikosti bytu a víceúčelovosti místností</li>
            </ul>

            <span class="span__caption span__last">
                Malý pokoj, kanceláře, byty, nebo celý dům. 
                Návrh interiéru neklade meze na velikost, lokaci ani skutečnost, že objekt ještě nestojí. Společně vytvoříme vaše oblíbené místo na tomhle světě.
            </span>

            <span class="span__price">cena stanovena individuálně</span>
        </div>
        <div class="service__dokumentace">
            <h2>Technická dokumentace</h2>
            <span class="span__caption">/&nbsp;DOKUMENTACE PRO REALIZACI INTERIÉRU&nbsp;/</span>

            <ul class="dash">
                <li>stavební půdorys navrhované dispozice</li>
                <li>výkres umístění svítidel</li>
                <li>truhlářské výkresy pro výrobu atypického nábytku</li>
                <li>výkresy spárořezů (pokládka dlažby a obkladů)</li>
                <li>výkresy koncových elektroprvků a vodoinstalací</li>
                <li>konzultace nad:
                    <ul class="dash">
                        <li>výběrem zařizovacích prvků</li>
                        <li>výběrem povrchových materiálů</li>
                        <li>výběrem osvětlení</li>
                        <li>ovládáním světel a umístění vypínačů a zásuvek</li>
                        <li>členěním a využitím truhlářských prvků (kuchyň, skříně...)</li>
                    </ul>
                </li>
                <li>možnost konzultací online</li>
            </ul>

            <span class="span__caption span__last">
                Po dokončení studie interiéru se připravují výkresy pro profesanty jako jsou truhláři, zámečníci, skláři, obkladači, elektrikáři nebo vodoinstalatéři. 
                Ať už děláte úpravy svépomocí, nebo se specializovanou firmou, je potřeba mít podklady, než se zahájí práce, aby nedocházelo k opravám, které stavbu prodražují. 
                V rámci spolupráce je možné zaštítit kompletní realizaci s autorským dohledem. 
            </span>

            <p>Cena za výkresy je stanovena po dokončení studie dle náročnosti řešeného interiéru, počtu a typu
                potřebných výkresů</p>

            <span class="span__price">cena stanovena po studii</span>
        </div>
        <div class="service__novostavby">
            <h2>Architektonická studie</h2>
            <span class="span__caption">/&nbsp;2D KONCEPČNÍ ŘEŠENÍ /&nbsp;3D VIZUALIZACE&nbsp;/</span>

            <ul class="dash">
                <li>konzultace - upřesnění zadání a představ klienta</li>
                <li>zorientování v územním plánu</li>
                <li>umístění stavby - situační výkres</li>
                <li>varianty dispozičního řešení</li>
                <li>3D vizualizace</li>
                <li>moodboard (materiálové řešení fasády, reference...)</li>
                <li>úvodní, 1-2 průběžné konzultace</li>
                <li>možnost konzultací online</li>
                <li>pozemek mimo Prahu a Turnov 6 Kč/km</li>
            </ul>

            <span class="span__caption span__last">Přístavba, nástavba, vestavba nebo nový objekt. Nespočet
                možností jak vytvořit více prostoru pro každého.</span>

            <span class="span__price">cena stanovena individuálně</span>
        </div>
    </div>
</section>
{% endblock %}