{% extends "index.twig" %}
{% block head %}{% endblock %}

{% block content %}
<section class="service">
    <div class="container">
        <div class="service__dispozice">
            <h2>Návrh dispozice</h2>
            <span class="span__caption first">/&nbsp;2D KONCEPČNÍ ŘEŠENÍ&nbsp;/</span>
            <span class="span__caption">/&nbsp;VHODNÉ PRO REKONSTRUKCI BYTŮ A DOMŮ&nbsp;/</span>

            <ul class="dash">
                <li>upřesnění zadání a představ klienta</li>
                <li>varianty dispozičního řešení s umístěním zařizovacích předmětů</li>
                <li>reference s řešením některých částí interiéru</li>
                <li>1-2 průběžné konzultace</li>
                <li>možnosti konzultací online</li>
                <li>objekt mimo Prahu a Turnov 6 Kč/km</li>
                <li>cena stanovena dle velikosti bytu a variability místností</li>
            </ul>
            
            <span class="span__caption span__last">
                Potřebovali byste v bytě o místnost navíc, nebo vytvořit kompletně novou dispozici, která bude růst s počtem uživatelů domácnosti ? 
                Návrh pro ty, kterým nevyhovuje stávající půdorysné řešení jejich nemovitosti jakéhokoliv měřítka - od bytové jednotky po rozsáhlý objekt. 
            </span>

            <span class="span__price">200 - 500 Kč / m&sup2</span>
        </div>
        <div class="service__interier">
            <h2>Návrh interiéru</h2>
            <span class="span__caption">/&nbsp;STUDIE INTERIÉRU&nbsp;/</span>

            <ul class="dash">
                <li>kompletní návrh interiéru</li>
                <li>3D vizualizace</li>
                <li>moodboard (materiálové a barevné řešení, reference...)</li>
                <li>varianty umístění zařizovacích předmětů</li>
                <li>doporučení zařizovacích předmětů a svítidel</li>
                <li>1-2 průběžné konzultace</li>
                <li>možnost konzultací online</li>
                <li>objekt mimo Prahu a Turnov 6 Kč/km</li>
                <li>cena stanovena dle velikosti bytu a víceúčelovosti místností</li>
            </ul>

            <span class="span__caption span__last">
                Malý pokoj, kanceláře, byty, nebo celý dům ? 
                Návrh interiéru neklade meze na velikost, místo ani na skutečnost, že objekt ještě není postaven.
            </span>

            <span class="span__price">cena stanovena individuálně</span>
        </div>
        <div class="service__dokumentace">
            <h2>Technická dokumentace</h2>
            <span class="span__caption">/&nbsp;DOKUMENTACE PRO REALIZACI INTERIÉRU&nbsp;/</span>

            <ul class="dash">
                <li>stavební půdorys navrhované dispozice</li>
                <li>truhlářské výkresy pro výrobu atypického nábytku</li>
                <li>zámečnické a sklenářské výkresy</li>
                <li>výkresy spárořezů (pokládka dlažby a obkladů)</li>
                <li>výkresy elektroinstalací (ovládání a umístění světel, vypínačů a zásuvek)
                <li>výkresy vodoinstalací</li>
                <li>výběr:
                    <ul class="dash">
                        <li>zařizovacích předmětů</li>
                        <li>sanitárních předmětů</li>
                        <li>povrchových materiálů</li>
                        <li>svítidel</li>
                    </ul>
                </li>
                <li>možnost konzultací online</li>
            </ul>

            <span class="span__caption span__last">
                Po dokončení studie interiéru se připravují výkresy pro profesanty jako jsou truhláři, zámečníci, skláři, obkladači, elektrikáři nebo vodoinstalatéři. 
                Ať už děláte úpravy svépomocí, nebo se specializovanou firmou, je potřeba mít podklady, než se zahájí práce, aby nedocházelo k opravám, které stavbu prodražují. 
            </span>

            <p>Cena za výkresy je stanovena po dokončení studie dle náročnosti řešeného interiéru, počtu a typu
                potřebných výkresů.</p>

            <span class="span__price">cena stanovena po studii</span>
        </div>
        <div class="service__novostavby">
            <h2>Architektonická studie</h2>
            <span class="span__caption">/&nbsp;2D KONCEPČNÍ ŘEŠENÍ /&nbsp;3D VIZUALIZACE&nbsp;/</span>

            <ul class="dash">
                <li>konzultace - upřesnění zadání a představ klienta</li>
                <li>zorientování v územním plánu</li>
                <li>umístění stavby - situační výkres</li>
                <li>varianty dispozičního řešení - půdorysy</li>
                <li>3D vizualizace</li>
                <li>moodboard (materiálové řešení fasády, reference...)</li>
                <li>úvodní, 1-2 průběžné konzultace</li>
                <li>možnost konzultací online</li>
                <li>pozemek mimo Prahu a Turnov 6 Kč/km</li>
            </ul>

            <span class="span__caption span__last">Přístavba, nástavba, vestavba nebo nový objekt. Nespočet
                možností jak vytvořit více prostoru pro každého.</span>

            <span class="span__price">cena stanovena individuálně</span>
        </div>
    </div>
</section>
{% endblock %}