{% extends "index.twig" %}
{% block head %}{% endblock %}

{% block content %}
<section class="project-detail">
	<div class="container">
		<h2>RD Sedmihorky</h2>
		<span class="span__caption">/ ARCHITEKTONICKÁ STUDIE / NOVOSTAVBA / 2019 /</span>

		<article>
			Minimalistický rodinný dům se sedlovou střechou a dřevěnou fasádou přirozeně zapadá do krajiny Českého ráje. 
			Dům na pozemku 10 arů vytváří zázemí pro čtyřčlennou rodinu a dvě osobní auta krytá přístřeškem. 
			Zóny jsou typicky rozdělené na noční ve druhém nadzemním podlaží a denní v prvním podlaží. 
			Dům je obléhán z jižní a východní strany komunikací a tak hlavní obytná místnost s terasou jsou orientovány na západ pro dostatek soukromí rodiny.
		</article>

		<div class="project-photos">
			<figure>
				<img src="{{ asset('imgs/projekty/zelena-cesta/zelena_cesta_uvodni.webp') }}" loading="lazy" alt="">
			</figure>
			<figure>
				<img src="{{ asset('imgs/projekty/zelena-cesta/zelena_cesta_03.webp') }}" loading="lazy" alt="">
			</figure>
			<figure>
				<img src="{{ asset('imgs/projekty/zelena-cesta/zelena_cesta_04.webp') }}" loading="lazy" alt="">
			</figure>
		</div>
	</div>
</section>
{% endblock %}